.heading {
    padding-bottom: 15px;
}
.booklist {
    display: flex ;
    flex-direction: column;
    max-width: 60%;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}
.next-button {
    width: 75px;
}

.next-button:hover {
    cursor: pointer;
}

.previous-button:hover {
    cursor: pointer;
}